.title{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.t-shirt{
    display: flex;
    justify-content: center;
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;

        &__image{
            &__adidas{

            }
        }

        &__info{
            
            &__title{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 16px;
            }

            &__body{
                font-family: 'Open Sans';
                font-size: 13px;
                margin-bottom: 1px;
            }
        }
    }
}

.container__button{
    display: flex;
    justify-content: center;
    .t-shirt__button{
        font-family: 'Open Sans';
                        font-weight: 700;
                        border-radius: 50px;
                        border: none;
                        padding: 10px 30px;
                        color: white;
                        background-color: black;
    }
}

.entry__container{
    display: flex;
    justify-content: center;

   &__info{
        &__title{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 40px;
            color: black;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        &__container{
            display: flex;
            justify-content: center;
            &__input{
                border-radius: 5px;
                border: black 2px solid;
                padding: 15px 40px 15px 40px;
                margin-bottom: 40px;
            }
        }
   }
}



.main__container{

    .card__container{
        &__t-shirt{

            &__wrap{
                margin-bottom: 40px;

                &__image{
                    width: 50%;
                    margin:auto;
                }

                &__info{

                    &__title{
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 16px;
                    }

                    &__body{
                        font-family: 'Open Sans';
                        font-size: 13px;
                        margin-bottom: 1px;
                    }
                }
            }
        }
    }
}

.group{
    display: flex;
    justify-content: center;

    &__container{

        &__title{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 25px;
            margin-bottom: 40px;
        }

        &__wrap{

            &__person{
                display: flex;
                align-items: center;
                justify-content: center;
                border: #DFDFDF 1px solid;
                text-align: center;
                
                &__info{
                    margin: 15px 0;
                }
            }
        }
    }
}


.spacer{
    width: 400px;
    height: 200px;
}